<!DOCTYPE html>
<html>
<head>
  <title>EasyStreets</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <nav class="header-nav">

      <a href="#">
        <img src="<%= asset_path("headerlogo.jpeg") %>"  alt="">
      </a>

    </nav>
  </header>



<%= yield %>

</body>
</html>
