<!DOCTYPE html>
<html>
<head>
  <title>EasyStreets</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0G1N_LoMoT7b4jTLEAhi9qT8gblu6t6M">
  </script>
</head>
<body>
  <header class="header">
    <nav class="header-border">

      <!-- <a href="#">
        <img class="header-img" src="<%= asset_path("h3.jpg") %>"  alt="">
      </a> -->

      <a href="#" class="header-icon">
        <img src="<%= asset_path("hlogo.jpeg") %>"  alt="">
      </a>

      <h1 class="header-logo">
        EasyStreets
      <h1>

    </nav>
  </header>


<%= yield %>

</body>
<div class="background">
  <!-- <img class ="one" src="<%= asset_path("manhattan.jpg") %>" alt="" />
  <img class ="two" src="<%= asset_path("headerlogo2.jpg") %>" alt="" /> -->
</div>
</html>
