<!DOCTYPE html>
<html>
<head>
  <title>EasyStreets</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0G1N_LoMoT7b4jTLEAhi9qT8gblu6t6M">
  </script>
</head>
<body>
  <header class="header">
    <nav class="header-border">
      <a href="#" class="header-icon">
        <img src="<%= asset_url("hlogo.jpeg") %>"  alt="">
      </a>
      <h1 class="header-logo">
        EasyStreets
      <h1>
    </nav>
  </header>


<%= yield %>

</body>
<div class="background">
</div>
</html>
