<!DOCTYPE html>
<html>
<head>
  <title>EasyStreets</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <nav class="header-nav">

      <a href="#">
        <img class="header-img" src="<%= asset_path("h3.jpg") %>"  alt="">
      </a>

      <a href="#" class="header-icon">
        <img src="<%= asset_path("hlogo.jpeg") %>"  alt="">
      </a>

      <h1 class="header-logo">
        EasyStreets
      <h1>

    </nav>
  </header>



<%= yield %>

</body>
</html>
